.purchase {
	width: 500px;
	margin: 10px 10%;
	padding: 10px;

	h1 {
		text-align: center;
	}
	p {
		input {
			float: right;
		}
	}
}

.counter {
	display: flex;
    width: 100px;
    border: solid 1px darkgreen;
    border-radius: 5px;
    button:first-child {
    	border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    button:last-child {
    	border-top-left-radius: 0px;
    	border-bottom-left-radius: 0px;
    }
}

.flex-1 {
	flex: 1;
}