.purchase {
	width: 500px;
	padding: 10px;
	flex: 3;
	h1 {
		
	}
	p {
		input {
			float: right;
		}
	}
}
.calculationPanel {
	flex: 1;
	border-left: dotted 1px #a8a8a8;
	text-align: right;
	li {
		border-bottom: dotted 1px #a8a8a8;
	}
}

.counter {
	display: flex;
    width: 100px;
    border: solid 1px darkgreen;
    border-radius: 5px;
    button:first-child {
    	border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }
    button:last-child {
    	border-top-left-radius: 0px;
    	border-bottom-left-radius: 0px;
    }
}

.flex-1 {
	flex: 1;
}