.players {
    width: 700px;
    thead {
    	background-color: #a8a8a8
    }
    tr {
        border-bottom: 1px dotted;
        th, td {
        	padding: 15px;
        }
    }
    tbody tr:hover {
        background-color: #dedede;
    }
}